<div class="swagger-wrapper">

    <div class="swagger-header" layout="row" layout-align="center center">
        <div class="heater-title">
            Key Concepts
        </div>
    </div>
    <div class="swagger-container" ng-class="{'swagger-expanded-container': expandView}">
        <div class="swagger-feature-info" layout="row" layout-align="start center">
            <img class="feature-image" src="assets/img/feature.svg" />
            <div>
                <span class="feature-title">{{selectedConcept.title}}</span></br>
            </div>
            <span flex></span>
            <md-icon class="expand-button" ng-if="!expandView" md-svg-src="assets/img/expand.svg" aria-label="Expand API" ng-click="expandAPI()"></md-icon>
            <md-icon class="expand-button" ng-if="expandView" md-svg-src="assets/img/exitfullscreen.svg" aria-label="Expand API" ng-click="collapseAPI()"></md-icon>
            <md-icon close="close-button" md-svg-src="assets/img/close.svg" aria-label="Close API" ng-click="closeAPI()"></md-icon>
        </div>

        <div class="concepts" layout="row">
            <div hide-xs hide-sm flex="25" flex class="concepts-list-container">
                <div class="concepts-list">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-class="{'selected': concept.selected}" ng-repeat="concept in concepts" ng-click="updateConcept(concept)">
                            <div class="md-list-item-text" layout="column">
                                {{concept.title}}
                            </div>
                            <md-divider ></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <div flex="75" hide-xs hide-sm  flex class="concepts-content-container">
                <div>
                    <div ng-include="selectedConcept.detailsUrl">
                    </div>
                </div>
            </div>

            <div flex="100" hide-md hide-lg hide-xl flex class="concepts-content-container">
                <div>
                    <div ng-include="selectedConcept.detailsUrl">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>