<div class="uoap-header">
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" ng-show="showHeader">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Unicon Open Access</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="headerController">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class=""><a ui-sref="home"><md-icon class="home-icon" md-svg-src="assets/img/home.svg"></md-icon>Journals</a></li>-->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Journals <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <!--<li class="dropdown-header">Article 1 Header</li>
                            <li><a href="#">Journal 1</a></li>
                            <li><a href="#">Journal 2</a></li>
                            <li><a href="#">Journal 3</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Article 2 Header</li>
                            <li><a href="#">Journal 1</a></li>
                            <li><a href="#">Journal 2</a></li>-->
                            <li ng-repeat="journal in journals">
                            	<a href="javascript:void(0);" ng-click="openJournal(journal)" >
                                	{{journal.journal_name}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class=""><a ui-sref="articles">Articles</a></li>
                    <li ng-if="userlogged && userView" class=""><a ui-sref="{{userView}}">Dashboard</a></li>
                    <li class=""><a ui-sref="forEditors">For Editors</a></li>
                    <li class=""><a ui-sref="forAuthors">For Authors</a></li>
                    <li class=""><a ui-sref="forReviewers">For Reviewers</a></li>
                    <li class=""><a ui-sref="aboutUs">About Us</a></li>
                    <li ng-show="!userlogged" class=""><a ui-sref="login">Login</a></li>
                    <li ng-show="userlogged" class="">
                        <!--<div class="user-info">
                            &lt;!&ndash;<img ng-src="" class="user-image" />&ndash;&gt;
                            Hello {{userInfo.fName}}
                        </div>-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{userInfo.fName}}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header" ng-click="logout()">Logout</li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>