<div id="page-wrapper" ng-controller="journalDetailsCtrl" >
	<md-content md-padding class="journal-details">
		
		<div layout="row" layout-wrap>
			<div flex-gt-sm="75" flex="100" style="padding-right: 10px;">
				<h1 style="margin-top: 10px;">{{journal.journal_name}}</h1>
				<!-- <img width="100%" style="max-height: 200px;" ng-src="{{journal.journalBannerImageFileName}}"/>
				 -->
				<div class="journal-details-banner"></div>
				
				<div layout="row" class="journal-details-desc" >
					<!-- {{journal.journal_long_description}} -->
					<span ng-bind-html="journal.journal_long_description | lineBreak"></span>
				</div>
				<!--  <md-toolbar class="md-table-toolbar md-default">
					<div class="md-toolbar-tools">
						<h1>List Of Articles:</h1>&nbsp;&nbsp;
						<md-select class="select-article-state" name="version" ng-model="stateValue" required ng-change="handleStateChange(stateValue)">
                                <md-option ng-repeat="state in states" value="{{state.stateValue}}">
                                    {{state.stateName}}
                                </md-option>
                            </md-select>
						<div flex></div>
						<md-button class="md-icon-button" ng-click="refreshArticles()">
							<md-icon>refresh</md-icon>
						</md-button>
					</div>
				</md-toolbar>
				<md-card ng-repeat="article in articles" style="margin: 2px;">
					<md-content layout-padding>
						<div class="article-title">{{article.title}}</div>
						<div class="article-abstract">{{article.abstractDesc}}</div>
						<div>
		                    <span class="author-title">Version: </span>
		                    <span>{{article.version}} | </span>
		                    <span class="author-title">Issue No: </span>
		                    <span>{{article.issueNo}} | </span>
		                    <span>{{article.articleState == 'inPress' ? 'In Press' : article.articleState == 'currentIssue' ? 'Current Issue' : 'Archive'}}</span>
		                </div>
						<div>
							<span class="author-title">Author(s): </span>
							<span>{{article.authors}}</span>
						</div>
						<div>
							<a href="javascript:void(0);" ng-click="downloadArticle(article)">Download</a>
						</div>
					</md-content>
				</md-card> -->
				
			</div>
			<div flex-gt-sm="25" flex="100">
				<div class="submit-menuScript-container1">
					<!-- <img width="100%" style="height: 100%;" ng-src="{{journal.journalIconFileName}}"/> -->
					<div class="submit-menuscript-details" ng-click="submitMenuScript()">
						Submit ManuScript
					</div>
				</div>
			
				<h2>Editors: </h2>
				<div class="list-editors">
					<div ng-repeat="editor in editors" class="editor-panel">
						<div class="editor-icon-container">
							<img class="editor-icon" ng-src="Avatars/Editor/{{journal.id}}/{{editor.avatarFileName}}"/>
						</div>
						<div class="editor-details-container">
							<div class="editor-cheif" ng-if="editor.isChiefEditor">Editor in cheif</div>
							<div class="editor-name">{{editor.firstName}} {{editor.lastName}}</div>
							<div>{{editor.designation}}</div>
							<div>{{editor.department}}</div>
							<div>{{editor.affilation}}</div>
							<div>{{editor.country}}</div>
						</div>
					</div>
				</div>
				
				<div class="submit-menuScript-container">
					
				</div>
			</div>
			
		</div>
	</md-content>


	<md-content md-padding>
		<div layout="row" layout-wrap>
			<div flex-gt-sm="75" flex="100">
				
			</div>
			<div flex-gt-sm="25" flex="100">
				
			</div>
		</div>
	</md-content>
</div>