<div md-padding md-content class="site-content static-content">
	<h1></h1>
	<p>
		<strong><span class="title">Unicorn Open Access Publishers</span></strong> (UOAP) is an international, open access, 
		peer-review publishers established with a sole motive to promulgate and disseminate knowledge 
		online for free of cost. The publishing group is supported by eminent editorial board members 
		dedicated to build strong framework based on the virtues and ethics of publication. 
		UOAP follows rigorous peer-review process and publishes high quality articles. 
		The author retains the copyright of their article. The articles published are made 
		available under Creative Commons Licence (usually Attribution-Only, or CC-BY) that 
		allows anyone to freely access, copy, and use the research by correctly attributing to the author. 
		The publishing group consist of staff that are co-operative and quickly respond to query and 
		resolve any concern within a short stint of time. Author can track the status of their 
		article through Online Manuscript Tracking System after submission of their manuscript. 
		You can submit your manuscript by clicking the red Submit Manuscript button provided in 
		the upper right corner of the screen or send an attachment to the respective e-mail address 
		provided at the respective journal's site.</p>
	<p>
		<i><u>Mission of Unicorn Open Access Publishers: Disseminate and Promulgate Quality Research and Knowledge.</u></i>
		
	</p>
</div>