<md-dialog class="menuscript-dialog" aria-label="Submit Journal">
    <form name="editor" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Editors</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="note">
                *(Please note all fields are required)
            </div>
            <div class="md-dialog-content">
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div layout="row">
                        <md-input-container >
                            <label>First Name</label>
                            <input name="name" ng-model="editor.firstName" required>
                            <div ng-messages="editor.firstName.$error">
                                <div ng-message="required" class="my-message">You must provide Editors First Name.</div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Last Name</label>
                            <input name="name" ng-model="editor.lastName" required>
                            <div ng-messages="editor.lastName.$error">
                                <div ng-message="required" class="my-message">You must provide Editors Last Name.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Email</label>
                            <input name="editorEmail" ng-model="editor.email" type="email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                            <div ng-messages="editor.editorEmail.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must provide email.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid email.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div>
                        <label>Avatar</label>
                        <input name="avatar" onchange="angular.element(this).scope().uploadedFile(this)" ng-model="file" type="file" accept=".jpg, .jpeg, .png">
                        <div class="errors" ng-show="editor.avatar.$dirty && editor.avatar.$invalid">
                            Please attach an avatar.
                        </div>
                    </div>
                </md-content>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container >
                            <label>Description</label>
                            <input name="editorDescription" ng-model="editor.description" required>
                            <div ng-messages="editor.editorDescription.$error">
                                <div ng-message="required" class="my-message">You must provide Journal Short Description.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Affiliation</label>
                            <textarea name="ldescription" ng-model="editor.affiliation" required></textarea>
                            <div ng-messages="editor.affiliation.$error">
                                <div ng-message-exp="['required']">
                                    You must provide affiliation.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container >
                            <label>Designation</label>
                            <input name="editorDesignation" ng-model="editor.designation" required>
                            <div ng-messages="editor.editorDesignation.$error">
                                <div ng-message="required" class="my-message">You must provide Editor designation.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container >
                            <label>Department</label>
                            <input name="editorDepartment" ng-model="editor.department" required>
                            <div ng-messages="editor.editorDepartment.$error">
                                <div ng-message="required" class="my-message">You must provide Editor department.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="fullwidth" flex-gt-sm>
                        <label>Country</label>
                        <md-select name="country" ng-model="editor.country" required>
                            <md-option ng-repeat="country in countries" value="{{country.abbrev}}">
                                {{country.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="editor.country.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide country.</div>
                        </div>
                    </md-input-container>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container >
                            <label>Contact No:</label>
                            <input name="editorContactNo" ng-model="editor.contactNo" required>
                            <div ng-messages="editor.editorContactNo.$error">
                                <div ng-message="required" class="my-message">You must provide Editor Phone no.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Journal</label>
                        <md-select name="journalId" ng-model="editor.journalId" required>
                            <md-option ng-repeat="journal in journals" value="{{journal.id}}">
                                {{journal.journal_name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="menuscript.journalId.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide journal.</div>
                        </div>
                    </md-input-container>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container >
                            <md-checkbox ng-model="editor.isCheifEditor" aria-label="Cheif Editor">
                                Editor in cheif
                            </md-checkbox>
                        </md-input-container>
                    </div>
                </md-content>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-secondary" ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-disabled="(!editor.$dirty || !editor.$valid) || !file " class="md-primary" ng-click="addEditor()" md-autofocus>
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>