<md-dialog class="menuscript-dialog" aria-label="Submit Journal">
    <form name="reviewer" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Reviewers</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="note">
                *(Please note all fields are required)
            </div>
            <div class="md-dialog-content">
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div layout="row">
                        <md-input-container >
                            <label>First Name</label>
                            <input name="name" ng-model="reviewer.first_Name" required>
                            <div ng-messages="reviewer.firstName.$error">
                                <div ng-message="required" class="my-message">You must provide reviewers First Name.</div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Last Name</label>
                            <input name="name" ng-model="reviewer.last_Name" required>
                            <div ng-messages="reviewer.lastName.$error">
                                <div ng-message="required" class="my-message">You must provide reviewers Last Name.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Email</label>
                            <input name="reviewerEmail" ng-model="reviewer.email" type="email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                            <div ng-messages="reviewer.reviewerEmail.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must provide email.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid email.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Country</label>
                        <md-select name="country" ng-model="reviewer.country" required>
                            <md-option ng-repeat="country in countries" value="{{country.abbrev}}">
                                {{country.name}}
                            </md-option>
                        </md-select>
                        <div ng-messages="menuscript.journal.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide journal.</div>
                        </div>
                    </md-input-container>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-secondary" ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-disabled="!reviewer.$dirty || !reviewer.$valid " class="md-primary" ng-click="addReviewer()" md-autofocus>
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>