<div>
    <div>
        <h1 class="md-display-2 dashboard-margin">Dashboard</h1>
    </div>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Journals">
                    <md-content class="md-padding">
                        <div ng-include="'assets/views/journalsTable.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Editors">
                    <md-content class="md-padding">
                        <div ng-include="'assets/views/editorsTable.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Reviewers">
                    <md-content class="md-padding">
                        <div ng-include="'assets/views/reviewersTable.html'"></div>
                    </md-content>
                </md-tab>
                <md-tab label="Articles">
                    <md-content class="md-padding">
                        <div ng-include="'assets/views/articlesTable.html'"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>