<div layout="column" id="articlesList">

    <md-content laout="column" flex >
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h1>List Of Articles:</h1>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="refreshArticles()">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card ng-repeat="article in articles">
            <md-content layout-padding>
                <div class="article-title">{{article.title}}</div>
                <!-- <div class="article-abstract">{{article.abstractDesc}}</div> -->
                <div>
                    <span class="author-title">Version: </span>
                    <span>{{article.version}} | </span>
                    <span class="author-title">Issue No: </span>
                    <span>{{article.issueNo}} | </span>
                    <span>{{article.articleState == 'inPress' ? 'In Press' : article.articleState == 'currentIssue' ? 'Current Issue' : 'Archive'}}</span>
                </div>
                <div>
                    <span class="author-title">Author(s): </span>
                    <span>{{article.authors}}</span>
                </div>
                <div>
                    <a href="" ng-click="showAbstract(event, article)">Abstract</a> <span> | </span>
                    <a href="" ng-click="downloadArticle(article)">PDF</a>
                </div>
            </md-content>
        </md-card>
    </md-content>

</div>