<div layout="column">

    <md-content laout="column" flex >
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <h1>List Of Articles:</h1>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="refreshArticles()">
                    <md-icon>refresh</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-card ng-repeat="article in articles">
            <md-content layout-padding>
                <div class="article-title">{{article.article_title}}</div>
                <div class="article-abstract">{{article.article_abstract}}</div>
                <div>
                    <span class="author-title">Author(s): </span>
                    <span>{{article.authors}}</span>
                </div>
                <div>
                    <a href="" ng-click="downloadArticle(article)">Download</a>
                </div>
            </md-content>
        </md-card>
    </md-content>

</div>