<div ng-controller="editorsTableCtrl" layout="column">

    <md-content ng-if="!inEditMode" layout="column" flex >
        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>Editors List</span>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="refreshEditors()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="addEditorDialog()">
                        <md-icon>add</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <!--<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>-->

            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column md-order-by="firstName"><span>First Name</span></th>
                        <th md-column md-order-by="lastName"><span>Last Name</span></th>
                        <th md-column md-order-by="avatar"><span>Avatar</span></th>
                        <th md-column md-order-by="description"  md-desc><span>Description</span></th>
                        <th md-column md-order-by="affiliation"><span>Affiliation</span></th>
                        <th md-column md-order-by="journalId"><span>Journal</span></th>
                        <th md-column md-order-by=""><span>View</span></th>
                        <th md-column md-order-by=""><span>Delete</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell>{{dessert.firstName}}</td>
                        <td md-cell>{{dessert.lastName}}</td>
                        <td md-cell><md-icon md-svg-src="{{desert.avatar}}"></md-icon> </td>
                        <td md-cell>{{dessert.description}}</td>
                        <td md-cell>{{dessert.affiliation}}</td>
                        <td md-cell>{{dessert.journalId}}</td>
                        <td md-cell><md-button class="md-icon-button" ng-click="view(dessert)">
                            <md-icon>visibility</md-icon>
                        </md-button></td>
                        <td md-cell><md-button class="md-icon-button" ng-click="deleteEditor(dessert)">
                            <md-icon>delete</md-icon>
                        </md-button></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
        </md-card>
    </md-content>
    <md-content ng-if="inEditMode" layout="column" flex>
        <form name="editorForm" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>update Editors</h2>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="note">
                    *(Please note all fields are required)
                </div>
                <div class="md-dialog-content">
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <div layout="row">
                            <md-input-container >
                                <label>First Name</label>
                                <input name="name" ng-model="editor.firstName" required>
                                <div ng-messages="editorForm.firstName.$error">
                                    <div ng-message="required" class="my-message">You must provide Editors First Name.</div>
                                </div>
                            </md-input-container>

                            <md-input-container >
                                <label>Last Name</label>
                                <input name="name" ng-model="editor.lastName" required>
                                <div ng-messages="editorForm.lastName.$error">
                                    <div ng-message="required" class="my-message">You must provide Editors Last Name.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <div class="fullwidth">
                            <md-input-container>
                                <label>Email</label>
                                <input name="editorEmail" ng-model="editor.email" type="email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">
                                <div ng-messages="editorForm.editorEmail.$error" role="alert" multiple>
                                    <div ng-message="required" class="my-message">You must provide email.</div>
                                    <div ng-message="pattern" class="my-message">That doesn't look like a valid email.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <div>
                            <label>Avatar</label>
                            <input name="avatar" onchange="angular.element(this).scope().uploadedFile(this)" ng-model="file" type="file" accept=".jpg, .jpeg, .png">
                            <div class="errors" ng-show="editorForm.avatar.$dirty && editor.avatar.$invalid">
                                Please attach an avatar.
                            </div>
                        </div>
                    </md-content>
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <div class="fullwidth">
                            <md-input-container >
                                <label>Description</label>
                                <input name="editorDescription" ng-model="editor.description" required>
                                <div ng-messages="editorForm.editorDescription.$error">
                                    <div ng-message="required" class="my-message">You must provide Journal Short Description.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                        <div class="fullwidth">
                            <md-input-container>
                                <label>Affiliation</label>
                                <textarea name="ldescription" ng-model="editor.affiliation" required></textarea>
                                <div ng-messages="editorForm.affiliation.$error">
                                    <div ng-message-exp="['required']">
                                        You must provide affiliation.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>

                    <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Journal</label>
                            <md-select name="journalId" ng-model="editor.journalId" required>
                                <md-option ng-repeat="journal in journals" value="{{journal.journal_abbrev}}">
                                    {{journal.journal_name}}
                                </md-option>
                            </md-select>
                            <div ng-messages="editorForm.journal.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must provide journal.</div>
                            </div>
                        </md-input-container>
                    </md-content>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-secondary" ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-disabled="!editorForm.$dirty || !editorForm.$valid" class="md-primary" ng-click="updateEditor()" md-autofocus>
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>

</div>