<div md-padding class="site-content static-content">


<h1></h1>

<p>
Unicorn Open Access Publishers accepts only original articles. 
The manuscript should not be submitted to other journal/publishers. </p>
<div class="uoap-heading">Submission Guidelines</div>
<div class="uoap-sub-heading">Format</div>
<p>Articles published in Unicorn Open Access Publishers will be organized into the following heading: 
Title of the article, Authors names and affiliations, Abstract, Keywords, Introduction, Methods, 
Figures and figures legends, Tables and table captions, Results, Discussion, Conclusion, Acknowledgement,
 and References, so that there will be uniformity in the format, which would help readers and users of the
  journals. However, this format may not be ideal for different article types. If your manuscript would benefit
   from different format other than mentioned above, kindly discuss further with the editor. 
   
   Authors need to discuss their findings concisely, as we have no length restriction for individual sections/article.</p>
<div class="uoap-sub-heading">Title of the article</div>
<p>The title of the article should be in title case, concise, specific to the study, and comprehensible to readers.</p>
<div class="uoap-sub-heading">Authors and Affiliations</div>
<p>Provide the full names of the authors and their affiliations including department, university/organization, city, state, country. In case of corresponding author, it is mandatory to mention the e-mail address and phone number.</p>
<div class="uoap-sub-heading">Abstract</div>
<p>An abstract is an important part of an article and most of the readers decide whether to read the paper further based on the abstract. It should be a concise summary of the entire article and has to be written in one or two paragraphs (120-500 words).</p>


<div class="uoap-sub-heading">Keywords</div>

<p>Provide at least 4-10 keywords, which will be utilized for indexing.</p>

<div class="uoap-sub-heading">Abbreviations</div>
<p>Abbreviations has to be defined upon first usages in text and try to keep abbreviations to a minimum.</p>

<div class="uoap-sub-heading">Introduction</div>

<p>The purpose of the study in broader context should be discussed.</p>

<div class="uoap-sub-heading">Material and Methods</div>

<p>State in detail the design of the study, procedure followed, material utilized, or any modification done in previously published procedures.</p>
 
<div class="uoap-sub-heading">Results</div>

<p>Results should be concise, clear, and coherent.</p>

<div class="uoap-sub-heading">Discussion</div>

<p>Analyse the importance of the results.</p> 

<div class="uoap-sub-heading">Conclusions</div>

<p>The conclusion section should be represented independently or form a subsection of Discussion.</p>

<div class="uoap-sub-heading">References</div>

<p>Last name of the author should be kept full followed by initial letter of the first name and the middle name, then year of publication followed by article title in title case and keep a period. Thereafter, keep the journal name in abbreviated form with volume followed by colon and page number/pdf number.</p>

<p>Example: Hierl T, Reischl U, Lang P, Hebart H, Stark M, et al. (2004) Preliminary evaluation of one conventional nested and two real-time PCR assays for the detection of Toxoplasma gondii in immunocompromised patients. J Med Microbiol 53: 629-632.</p> 

<div class="uoap-sub-heading">Acknowledgements</div>
<p>The people who did not fit the criteria for authors, but contributed to the work has to be listed in acknowledgements with their contributions. Kindly ensure that the people whose names are mentioned in acknowledgements agrees to being so named.</p> 
<div class="uoap-sub-heading">Funding</div>
<p>The sources of funding that have supported the work should be mentioned in this section. Please describe if the sponsor/sponsors plays any role in study design, collection of data, interpretation of data, analysis of data, writing of the manuscript, and decision to submit it for publication.</p> 
<div class="uoap-sub-heading">Competing and Conflicting Interests</div>
<p>The author has to declare that there is no competing interests exist and the journal will print a statement. If the author did not declare a conflict of interest and later on found to have one, then the paper would lose the credibility. On the other hand side, full disclosure of conflict of interest did not prevent a paper to be published, but did allow the author to be opened with their readers. For guidelines on conflict of interest, please go through http://grants.nih.gov/grants/policy/coi/</p> 
<div class="uoap-sub-heading">Nomenclature</div>
<p>Follow binomial nomenclature for species and genus names. Genes, alleles, genotypes, mutations, should be italicised. SI units are strongly encouraged, if it is not possible to use them exclusively, then after each value kindly provide the SI value in parentheses.</p> 
<div class="uoap-sub-heading">Figures and Figure Legends</div>
<p>Author has to provide high resolution figures. Figure legend should be precise describing the key messages of the figure.</p> 
<div class="uoap-sub-heading">Tables</div>
<p>The title of the table should be concise. Abbreviations can be used to explain footnotes. Tables should be cell based.</p> 
<div class="uoap-heading">Article Processing Charges</div>
<p>UOAP is a non-profit organization and operates only throughout processing charge received from the authors and some corporate/academic sponsors. There will be no manuscript submission charges. If the manuscript is accepted for publication after peer-review process, then the author needs to pay minimum article processing charge.</p>

<div class="uoap-heading">Author Withdrawal Policy</div>
<p>Author can withdraw their article within 10 days of its initial submission without incurring any charge. However, after the peer-review process and/or publishing the article if the author wants to withdraw, then a letter with valid reason should be sent to the concern editor and has to pay the minimum withdrawal fees.</p>



</div>