<div md-padding class="site-content static-content">
<h1></h1>
<p>
<strong><span class="title">Unicorn Open Access Publishers</span></strong> (UOAP)is committed to achieve highest ethical standards and strive hard to avoid any misinformation to our readers. The editors of our publication group are valuable resources. They are bestowed with the responsibility of gaining trust among the readers. Experts in the related journals field are invited to form editorial board. The editor will handle the peer-review process, provide recommendations on the acceptance or rejection of the manuscript, and attract high quality manuscript submissions.
</p>
<p>
Editors should follow the below-appended guidelines, which helps us in publishing high quality articles:
</p>
<div class="uoap-sub-heading">Assigning Reviewers
</div>
<p>Editor has to assign at least two reviewers for reviewing the manuscript. The reviewer area of interest must align the submitted manuscript. Editor should desist those reviewers, who continuously produce poor quality, discourteous or late reviews. Editors should use broad range of resources in order to identify potential competent new reviewers at the same time pay equal importance to author suggestions.</p>

<div class="uoap-sub-heading">Peer Review Process
</div>
<p>
Editor should be unbiased and judge the submitted manuscript for publication based on its merits without regard to religion, nationality, race, sex, institutional affiliation of the authors, etc. If there is any deviation from the peer-review process, the editor should justify it. The editor has to ensure that the reviewer should not have any potential competing interest before agreeing the manuscript for review. Editor ought to decide the scientific validity of the study and delineation of the research work. Editor has to maintain high level of confidentiality regarding manuscript content and the details of the reviewers.
</p>
<div class="uoap-sub-heading">Final Decision
</div>
<p>
Final decision regarding accepting or rejecting the manuscript for publication will be taken by the editor based on the review and recommendation of the reviewers and editor understanding on the significance of the manuscript.
</p>
<div class="uoap-sub-heading">Complaints & Misconduct
</div>
<p>
<strong><span class="title">Unicorn Open Access Publishers</span></strong> adheres to COPE guidelines and the editors are bound to the same ethical guidelines for the integrity of scientific enterprise. Complaints regarding research misconduct should be brought to the attention of the editor or the publishers at any point in time. The editor should contact the corresponding author asking explanation. If the editor is satisfied with the explanation provided by the corresponding author, no action will be taken. If the explanation is not satisfactory, the editor can take any action such as rejecting the manuscript, notify the author to retract the article, or inform the incidence to the author's superior organizational authority/employer.
</p>
     

</div>