<div md-padding class="site-content static-content">
<h1></h1>
<p>
Unicorn open access publishers follow Single Blind Peer-Review Process. For fair and transparent peer-review process, the reviewers are requested to adhere to the below-mentioned guidelines.</p>

<div class="uoap-sub-heading">Code of Conduct and Responsibilities of the Reviewer:</div>
<ul style="line-height: 1.75;">

<li>The manuscript accepted by the reviewer should match his/her area of expertise.</li>
<li>The comments provided by the reviewer must be reasonable holding the points with strong logical reasons.</li>
<li>If there is any conflict of interest, the reviewer should not accept that manuscript to review. If the reviewer has any questions pertaining to potential conflict of interest, he/she should contact the handling editor, who would decide whether it is appropriate to review the manuscript or not.</li>
<li>If the reviewer realizes that conflict of interest exists after beginning the review process, the reviewer has to notify the editor at the earliest.</li>
<li>The reviewer are requested to complete the review process within 7-10 days. The reviewer has to contact the editor immediately if they are unable to complete the review within the allotted time due to unforeseen circumstances.</li>
<li>The reviewer has to maintain confidentiality about the content of the manuscript. He/She should not share the manuscript or discuss with others before publication.</li>
<li>If there are any ethical concerns about the usage of humans or animals in the research, suspected duplication publication, plagiarism, fraud, etc., the reviewer should notify it to the handling editor.</li>
</ul>

<div class="uoap-sub-heading">Consideration for Grading a Manuscript</div> 
<p>The reviewer need to grade the manuscript considering originality/novelty, scientific importance, adequacy of experimental designs/method, presentation of results, quality of data, presentation of results, etc. on the below appended scale:</p>

Grade A- Accepted. 
Grade B- Accepted with minor changes. 
Grade C- Accepted after major changes. 
Grade D- Rejected 
N/A = Does not apply to this paper 
<p>Based on the grades given by the reviewers, the manuscript would be accepted for publication. Reviewer can also recommend a manuscript for publication.</p> 


<div class="uoap-sub-heading">Comments to Editor</div>
<p>State the reasons for grading and recommendations with specific comments pertaining to the importance of work.</p>
<div class="uoap-sub-heading">Comments to Author</div>
<p>The reviewer has to provide comments to the author in a clear and coherent way.  The comments to the author should not convey any statements or indications to the author about accepting the manuscript for publication.</p>
 

</div>