<div ng-controller="menuScriptsTableCtrl" layout="column">
    <md-content layout="column" flex ng-if="!inEditMode">
        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>MenuScripts List</span>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="refreshMenuScripts()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <!--<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools">
                    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
                </div>
            </md-toolbar>-->

            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                    <tr md-row>
                        <th md-column md-order-by="fName"><span>Author</span></th>
                        <th md-column md-order-by="statusText"><span>Status</span></th>
                        <th md-column md-order-by="menuTitle"><span>Title</span></th>
                        <th md-column md-order-by="article"><span>Article Type</span></th>
                        <th md-column ng-if="userType !== 'reviewer'" md-order-by="journalName"><span>Journal</span></th>
                        <th md-column ng-if="userType !== 'reviewer'" md-order-by="reviewer.first_Name"><span>Reviewer</span></th>
                        <th md-column ng-if="userType !== 'reviewer'" md-order-by="reviewer.email"><span>Reviewer Email</span></th>
                        <th md-column md-order-by="feedback"><span>Feedback</span></th>
                        <th md-column md-order-by=""><span>View</span></th>
                        <th md-column ng-if="userType === 'reviewer'" md-order-by=""><span>Accept</span></th>
                        <th md-column ng-if="userType === 'reviewer'" md-order-by=""><span>Reject</span></th>
                        <th md-column ng-if="userType === 'admin'"  md-order-by=""><span>Delete</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                        <td md-cell>{{dessert.fName}}</td>
                        <td md-cell>{{dessert.statusText}}</td>
                        <td md-cell>{{dessert.menuTitle}}</td>
                        <td md-cell>{{dessert.article}}</td>
                        <td md-cell ng-if="userType !== 'reviewer'">{{dessert.journalName}}</td>
                        <td md-cell ng-if="userType !== 'reviewer'"><span ng-if="dessert.reviewer">{{dessert.reviewer.first_Name}} {{dessert.reviewer.last_Name}}</span></td>
                        <td md-cell ng-if="userType !== 'reviewer'"><span ng-if="dessert.reviewer && dessert.reviewer.email">{{dessert.reviewer.email}}</span></td>
                        <td md-cell>{{dessert.feedback}}</td>
                        <td md-cell><md-button class="md-icon-button">
                            <md-icon ng-click="view(dessert)">visibility</md-icon>

                        </td>
                        <td md-cell ng-if="userType === 'reviewer'">
                            <md-icon ng-if="dessert.status === 'Open'" title="Accept Review" arial-label="accept" ng-click="acceptReview(dessert)">thumb_up</md-icon>
                        </td>
                        <td md-cell ng-if="userType === 'reviewer'">
                            <md-icon ng-if="dessert.status === 'Open'" title="Reject Review" arial-label="reject" ng-click="rejectReview(dessert)">thumb_down</md-icon>
                        </td>
                        <td md-cell ng-if="userType === 'admin'" ><md-button class="md-icon-button" ng-click="delete(dessert)">
                            <md-icon>delete</md-icon>
                        </md-button></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
        </md-card>
    </md-content>
    <md-content layout="column" flex ng-if="inEditMode && (userType == 'author' || userType == 'admin')">
        <form name="menuscript" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Update Menuscript</h2>
                </div>
            </md-toolbar>
            <div class="note">
                *(Please note all fields are required)
            </div>
            <div class="md-dialog-content">
                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Journal</label>
                        <input name="journal1" ng-model="menuScriptItem.journalName" required readonly ng-disabled="true"></input>
                    </md-input-container>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Menuscript Title</label>
                            <input name="title" ng-model="menuScriptItem.menuTitle" required maxlength="1000" minlength="10" >
                            <div ng-messages="menuscript.title.$error">
                                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                    Your Title must be between 10 and 1000 characters long.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Abstract</label>
                            <textarea name="abstract" ng-model="menuScriptItem.abstractTitle" maxlength="4000" required ></textarea>
                            <div ng-messages="menuscript.abstract.$error">
                                <div ng-message-exp="['maxlength', 'required']">
                                    Your Abstract should not exceed 4000 characters.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div>
                        <label>Attach MenuScript</label>
                        <input name="file" onchange="angular.element(this).scope().uploadedFile(this)" ng-model="file" type="file" accept=".pdf, .doc, .docx">
                        <div class="errors" ng-show="menuscript.file.$dirty && menuscript.file.$invalid">
                            Please attach a menuscript.
                        </div>
                    </div>
                </md-content>
            </div>

            <md-dialog-actions layout="row">
                <md-button class="md-secondary" ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-if="inEditMode && canEdit" ng-disabled="(!menuscript.$dirty || !menuscript.$valid) && !file" class="md-primary" ng-click="submitScript()" md-autofocus>
                    Submit
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>
    <md-content layout="column" flex ng-if="inEditMode && (userType == 'reviewer' || userType == 'editor')">
        <form name="menuscript" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Update Menuscript</h2>
                </div>
            </md-toolbar>
            <div class="note">
                *(Please note all fields are required)
            </div>
            <div class="md-dialog-content">
                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Feedback</label>
                        <input name="feedback" ng-model="menuScriptItem.feedback" required></input>
                    </md-input-container>
                </md-content>

            </div>
            <md-dialog-actions layout="row">
                <md-button class="md-secondary" ng-click="cancel()">
                    Cancel
                </md-button>
                <span flex></span>
                <md-button ng-if="inEditMode" ng-disabled="!menuscript.$dirty || !menuscript.$valid" class="md-primary" ng-click="rejectMenuScript()" md-autofocus>
                    Approve
                </md-button>
                <md-button ng-if="inEditMode" ng-disabled="!menuscript.$dirty || !menuscript.$valid" class="md-primary" ng-click="approveMenuScript()" md-autofocus>
                    Reject
                </md-button>
                <md-button ng-if="inEditMode" ng-disabled="!menuscript.$dirty || !menuscript.$valid" class="md-primary" ng-click="submitScript()" md-autofocus>
                    Update
                </md-button>
            </md-dialog-actions>
        </form>
    </md-content>

</div>