<md-dialog class="menuscript-dialog" aria-label="Submit Menuscript">
    <form name="menuscript" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Welcome to the online submission system of Journals</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="note">
                *(Please note all fields are required)
            </div>
            <div class="md-dialog-content">
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div layout="row">
                        <md-input-container flex="20">
                            <label>Title</label>
                            <md-select name="type" ng-model="user.title" required>
                                <md-option value="Dr">Dr</md-option>
                                <md-option value="Mr">Mr</md-option>
                                <md-option value="Mrs">Mrs</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container  flex="40">
                            <label>First Name</label>
                            <input name="fname" ng-model="user.fName" required>
                            <div ng-messages="menuscript.fname.$error">
                                <div ng-message="required" class="my-message">You must provide email.</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="40">
                            <label>Last Name</label>
                            <input name="lname" ng-model="user.lName" required>
                            <div ng-messages="menuscript.lname.$error">
                                <div ng-message="required" class="my-message">You must provide email.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding >
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Email</label>
                            <input name="email" ng-model="user.email" type="email" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/">

                            <div ng-messages="menuscript.email.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must provide email.</div>
                                <div ng-message="pattern" class="my-message">That doesn't look like a valid email.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Postal Address / Affiliation</label>
                            <input name="postalAddress" ng-model="user.postalAddress" required>

                            <div ng-messages="menuscript.postalAddress.$error" role="alert" multiple>
                                <div ng-message="required" class="my-message">You must provide postalAddress.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Journal</label>
                        <input name="journal1" ng-model="journalId" ng-if="journalId" required readonly></input>
                        <md-select name="journal" ng-model="user.journal" required ng-if="!journalId">
                            <md-option ng-repeat="journal in journals" value="{{journal.id}}">
                                {{journal.journal_name}}
                            </md-option>
                        </md-select>
                        <div ng-if="!journalId" ng-messages="menuscript.journal.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide journal.</div>
                        </div>
                    </md-input-container>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row"  layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Country</label>
                        <input name="country" ng-model="country" ng-if="country" required readonly></input>
                        <md-select name="country" ng-model="user.country" required ng-if="!country">
                            <md-option ng-repeat="country in countries" value="{{country.abbrev}}">
                                {{country.name}}
                            </md-option>
                        </md-select>
                        <div ng-if="!country" ng-messages="menuscript.country.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must provide country.</div>
                        </div>
                    </md-input-container>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Menuscript Title</label>
                            <input name="title" ng-model="user.menuTitle" required maxlength="1000" minlength="10">
                            <div ng-messages="menuscript.title.$error">
                                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                    Your Title must be between 10 and 1000 characters long.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div class="fullwidth">
                        <md-input-container>
                            <label>Abstract</label>
                            <textarea name="abstract" ng-model="user.abstractTitle" maxlength="4000" required></textarea>
                            <div ng-messages="menuscript.abstract.$error">
                                <div ng-message-exp="['maxlength', 'required']">
                                    Your Abstract should not exceed 4000 characters.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-content>

                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <div>
                        <label>Attach MenuScript</label>
                        <input name="file" onchange="angular.element(this).scope().uploadedFile(this)"  ng-model="file" type="file" accept=".pdf, .doc, .docx">
                        <div class="errors" ng-show="menuscript.file.$dirty && menuscript.file.$invalid">
                            Please attach a menuscript.
                        </div>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-secondary" ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-disabled="!menuscript.$dirty || !menuscript.$valid || !file " class="md-primary" ng-click="submitScript()" md-autofocus>
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>