<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Spring MVC App</display-name>
  
	<servlet>
		<servlet-name>journal</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/journal-mvc.xml /WEB-INF/journal-DataSource.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<filter>
		<filter-name>journalFilter</filter-name>
		<filter-class>com.journal.filter.JournalFilter</filter-class>
	</filter>
	
	<servlet-mapping>
		<servlet-name>journal</servlet-name>
		<url-pattern>/router/*</url-pattern>
	</servlet-mapping>
	
	<filter-mapping>
		<filter-name>journalFilter</filter-name>
		<url-pattern>/router/*</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>